body {
  background-image: url("/image/landscape-background.png");
  background-size: cover;
}

.description {
  height: 100px;
  margin: 0;
  margin-top: -30px;
  line-height: 22px;
  color: #000;
}

.new-label {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  top: 25px;
  margin-right: 4px;
  margin-left: -4px;
  background: url(/image/new-sign-01.svg) no-repeat;
  transform: rotateZ(30deg);
}

.billboard-wrapper {
  position: relative;
  width: 640px;
  height: 520px;
  left: calc(50% - 320px);
  top: 80px;
}

.billboard-content {
  position: absolute;
  width: 574px;
  height: 250px;
  top: 4px;
  left: 15px;
  padding: 20px;
}

@font-face {
  font-family: TabarraShadow;
  src: url("/font/Tabarra-Shadow-FFP.otf");
}

@font-face {
  font-family: Carousel;
  src: url("/font/Carousel.ttf");
}

@font-face {
  font-family: BudmoJiggler;
  src: url("/font/BudmoJiggler.ttf");
}

.generated-name {
  position: relative;
  top: 20px;
  text-align: center;
  font-family: TabarraShadow;
  font-size: 60px;
  color: #000000;
}

#generate-button {
  position: absolute;
  bottom: 20px;
  right: -20px;
  background: url(/image/new-sign-01.svg) no-repeat;
  cursor: pointer;
  width: 160px;
  height: 120px;
  border: none;
}
